/* Variables */

:root {
  --blue: #3882f6;
  --dark_blue: #1f2937;
  --quote_background: #e5e7eb;
  --white: #ffff;
  --border_radius: 1rem;
}

/* Reset */

* {
  box-sizing: border-box;
  list-style: none;
}

/* All purpose*/

.container {
  max-width: 900px;
  margin: 0 auto;
}

.container:not(header .container) {
  padding: 5rem 0;
}

.button_type_1 {
  background: var(--blue);
  color: var(--white);
  border-style: none;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 0.8rem;
}

/* Header*/

header .container {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  gap: 1rem;
}

/* Hero */
.hero_container,
header,
footer {
  background-color: var(--dark_blue);
  color: white;
}

.hero_container .container {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.hero_container .hero_text {
  text-wrap: wrap;
  /* width: 50%; */
  
}
.hero_container .hero_text h1,p {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

.hero_container .container .image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 200px;
  background-color: gray;
}

/* Cards */

.cards_title {
  text-align: center;
}

.card_list {
  display: flex;
  justify-content: space-between;
}

.card {
  text-align: center;
}

.card_image {
  border: 5px solid var(--blue);
  border-radius: var(--border_radius);

  width: 120px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Quote */

/* this will need an after element*/
.quote_container {
  text-align: center;
  background-color: var(--quote_background);
}

.quote_container p {
  font-size: 2rem;
  font-style: italic;
  color: #1f2937;
}

/* Sign up card*/

.sign_up_card .container {
  display: flex;
  justify-content: center;
}

/*Footer*/

footer {
  text-align: center;
}
